.page-header
  %h1.happy-caption
    Search the map
    %small there be dragons!

%p
  This is a geo-service for querying streets, house numbers, zip codes, and other stuff. For implementation details please see our
  = link_to "About section.", about_path
%p
  The current implementation is restricted to the area around Cologne, Germany. Other locations will follow.

.happy-map-controls
  %form.form-search
    %input.input-medium.search-query{ type: 'text' }
    %button.btn
      %i.icon-search
      Search

.happy-map
  = image_tag 'http://placehold.it/900x450'

