.happy-notice.alert.alert-error
  = link_to "x", "#", class: 'close', data: { dismiss: 'alert' }, title: 'Dismiss'
  %h4 Rumble Notice!
  %p
    The map only works with geodata from <strong>Northrhine Westfalia, Germany</strong>.
    %br
    Moar areas may follow. Since Openstreetmap provides a massive amount of data, we cannot add our whole planet at once.
    = happy_face

.happy-map.fullscreen
  #happyMap
