.span3.offset1.about-item.thumbnail
  = image_tag 'street.jpg', class: 'img-rounded thumb'
  .caption
    %h4.happy-caption
      Search streets
    %p
      Enter an address
      %strike or landmark
      you wish to search for
      and be amazed by the awesome correct results you get back.<sup>1</sup>
    %p
      Happy geocode is always right and never fails.<sup>1</sup>
    %p
      If you are not an Earthling, be not afraid. We will eventually
      add support for your galaxy, too.<sup>1</sup>
