/*
 *= require_self
 *= require leaflet
 *= require 'font-awesome'
 *= require_tree .
 */

@import "twitter/bootstrap-no-sprites"
@import url(http://fonts.googleapis.com/css?family=Happy+Monkey)

$happy_bright_blue: #D9EDF7

.happy-navbar, .happy-notice
  position: relative
  z-index: 100
.happy-navbar
  .brand
    width: 210px
    &:hover
      color: #AAA

.page-header
  margin-bottom: 10px

.happy-caption
  font-family: 'Happy Monkey', cursive

.happy-container
  padding: 0 20px

.happy-footer
  padding: 0 20px
  margin-top: 50px
  margin-bottom: 50px

.happy-title
  padding: 0

.happy-map-logo
  height: 150px
  width: 100%
  background: url(big_map.jpg) no-repeat center -100px
  margin-bottom: 30px
  border-radius: 15px 15px

.happy-about
  background-color: $happy_bright_blue
  padding: 28px 10px

  .happy-lie
    display: block
    margin: 20px auto 0
    width: 795px
    text-align: center

  .happy-about-boxes
    overflow: auto

  .about-item
    background: white
    min-height: 493px
    .happy-content
      min-height: 250px
    .thumb
      height: 164px

#supporters, #team, #example
  margin-top: 30px

#supporters
  background-color: $happy_bright_blue
  padding: 10px

.supporters-list
  list-style-type: none
.supporter-image
  margin-left: 20px
  text-decoration: none
  &:hover
    text-decoration: none
  img
    height: 36px
    border: none

.happy-team-member
  overflow: auto
  .vita
    min-height: 100px
  .team-link
    color: #555
    &:hover
      text-decoration: none
      color: #888

.happy-map.fullscreen
  position: absolute
  top: 0
  left: 0
  z-index: 1

  #happyMap
    width: 500px
    height: 500px

.happy-example
  overflow: auto
  margin-left: 10px
  .happy-input, .happy-output
    width: 350px
    position: relative
  .happy-input
    top: 65px
  .happy-io
    width: 30px
    text-align: center
    font-size: 20px
    font-family: monospace
    top: 30px
  .perform-example, .happy-io
    position: relative
    margin: 0 20px
    top: 95px

#mapTooltip
  display: none
