/*
 *= require_self
 *= require leaflet
 *= require leaflet.ie
 *= require 'font-awesome'
 *= require_tree .
 */

@import "twitter/bootstrap-no-sprites"
@import url(http://fonts.googleapis.com/css?family=Happy+Monkey)

.page-header
  margin-bottom: 10px

.happy-caption
  font-family: 'Happy Monkey', cursive

.happy-container
  padding: 0 20px

.happy-map-controls
  margin-top: 50px

  .search-query
    width: 50%

.happy-footer
  margin-top: 50px
  margin-bottom: 50px

.happy-about
  margin-bottom: 10px
  .about-item
    min-height: 463px
    .thumb
      height: 164px

#supporters, #team
  margin-top: 30px

.supporters-list
  list-style-type: none
.supporter-image
  margin-left: 20px
  text-decoration: none
  &:hover
    text-decoration: none
  img
    height: 36px
    border: none

.happy-team-member
  overflow: auto
  .vita
    min-height: 100px

