.navbar.happy-navbar
  .navbar-inner
    = link_to "Happy Geocode #{happy_face}", root_path, class: 'brand happy-caption'
    = render_navigation
    %form#mapSearch.navbar-form.form-search.pull-right{ method: 'get', action: map_path }
      #mapTooltip
        .close{style: "color: white; position: relative; top: -10px"} x
        %h4 Search for a (German) address here
        %p
          Just search for a location. See the
          = link_to 'example', '/#example', color: '#fff'
          if you need help.
      .input-append
        %input.search-query{ type: 'text', name: 'query', value: params[:query] }
        %button.btn.js-mapsearch
          %i.icon-search
