.navbar
  .navbar-inner
    = link_to "Happy Geocode :D", root_path, class: 'brand happy-caption'
    %ul.nav
      %li.active
        = link_to "Geocode!", root_path
      %li
        %a About
      %li
        %a API docs
