.happy-notice.happy-rumble-warning.alert.alert-warning{ style: 'text-align: center; display: none;' }
  = link_to "x", "#", class: 'close', data: { dismiss: 'alert' }, title: 'Dismiss'

  This project was started as a
  = link_to "Rails Rumble 2012", 'http://railsrumble.com'
  project. If you like it, please consider
  = link_to "voting for us.", 'http://railsrumble.com/entries/210-happy-geocode'
